<!-- <app-nav-bar></app-nav-bar> -->
<!-- Body -->
<!-- text-center text-purple flex justy-center mt-5 text-2xl font-bold .....text-2xl mx-14 text-purple-700-->
<div class="container-fluid " id="home-section">
  <div class="row d-flex align-items-center">
    <div class="col  d-block align-items-center justify-content-center ">
      <div class="wrapper d-block align-items-center justify-content-center  ">
        <div
        class="d-flex justify-content-center "
        
      >
       <h1 class="at-item"> <strong>Hi, I'm Winnie Thembelihle Nhlapo</strong></h1>
       
      </div>
      <div class="heading  d-flex justify-content-center">
        <h2 class="">FullStack Developer</h2>
      </div>
      </div>
     
    </div>
    <div class="col mx-auto">
      <div class='at-container'>
        <div class='at-item-image' >
          <img
        class="py-4 image "
        src="../../../assets/pics/Website designer-amico (1).png"
        alt=""
      />
        </div>
      </div>
      
    </div>
  </div>
</div>
