<!-- <app-nav-bar></app-nav-bar> -->
<div class="container-fluid">
    <div class="position-relative d-flex align-items-center justify-content-center">
        <h1>About</h1>
    </div>
        <div class="bg-purple container mt-5 pt-2" id="about-section">
        <div class="row">
            <div class="col mx-auto col-md-4">
                <img class = "" src="../../../assets/pics/Lihle.png" alt="" style="height: 500px; width: 200;">
            </div>
        <div class="col">
            <div class=" flex items-justify-center justify-between py-8">

                <div class = "">
                    <img src="../../../assets/pics/about.png" alt="" style= "height: 40px">
                </div>
            </div>
                <p class = "text-sm mx-14 text-white"> <i>Passionate team player with desire to learn and master new technologies and improve my
                    programming skills. Detail-oriented and motivated to stay on task, meet aggressive timelines and
                    accomplish goals. Strong analytical and organizational skills within industry.</i></p>
                    <br>
                
                    <!-- Skills -->

                    <h1 class = "text-white mt-4"><u>Soft Skills</u></h1>
                    <br>
                    <div class="inline-flex">
                    <img src="../../../assets/pics/About me-amico.png" alt="" style="height: 300px;">
                
                    <ol class="text-white text-sm yr-4">
                        
                        
                        <li><img class = "inline"src="../../../assets/pics/blue bullet point.png" alt="" style = "height: 10px;">
                            Patience - I have learnt to be patient with others by granting
                            them the platform 
                            <br> voice their ideas before I could critique
                            them. This not only permitted me to hear  <br>
                            what they have to
                            say but also analyse and give constructive criticism. </li>
                            <br>

                            <li> <img class = "inline"src="../../../assets/pics/blue bullet point.png" alt="" style = "height: 10px;">
                                Time management- Through submissions and presentations I
                                learned to push myself and fight to finish all my tasks on time
                                and avoid working under pressure but dedicate myself to what
                                I'm doing.</li>
                                <br>

                                <li> <img class = "inline"src="../../../assets/pics/blue bullet point.png" alt="" style = "height: 10px;">
                                    Communication- I learned communication skills from working
                                    with a team and through presentations.</li>
                    </ol>
                </div>
        </div>
        
        </div>
    </div>
    

</div>
