
  
  <nav class="navbar navbar-expand-lg justify-between bg-lightPurple text-white p-3 ">
    <div class="container-fluid w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <img class = " inline h-14 " src="../../../assets/pics/myLogo.png" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon" white-text></span> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="collapse navbar-collapse text-sm lg:flex-grow ms-auto" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
            <a class="px-4 block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" aria-current="page" href="#">PORTFOLIO</a>
          </li> -->
          <li class="nav-item">
            <a class="px-4 block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="px-4 block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" href="#about-section">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="px-4 block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" aria-current="skills" href="#skills">SKILLS</a>
          </li>
          <li class="nav-item">
            <a class="px-4 block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="px-4 block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" href="#">RESUME</a>
          </li>
        </ul>
        <div>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="../../../assets/resume/Winnie_Nhlapo_FP (8).pdf" download class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 mt-4">DOWNLOAD</a>
            </li>


          </ul>
          
        </div>
      </div>
      
    </div>
  </nav>

  