<div class="my-5 resize rounded-md grid grid-cols-4 gap-4">
    <div><img src="../../../assets/pics/skills/angular-logo-icon-png-svg.png" alt=""></div>
    <!-- ... -->
    
    <div><img src="../../../assets/pics/skills/c++.png" alt=""></div>

    <div><img src="../../../assets/pics/skills/git.png" alt=""></div>

    <div><img src="../../../assets/pics/skills/html-5-icon.png" alt=""></div>

    <div><img src="../../../assets/pics/skills/css.png" alt=""></div>

    <div><img src="../../../assets/pics/skills/nest js.webp" alt=""></div>

    <div>09</div>
    <div>09</div>
  </div>